<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.demomybatis.dao.UserMapper">
    <insert id="addUser" parameterType="com.example.mybatis.demomybatis.entity.UserEntity">
        INSERT INTO user (id, name, age) values (#{entity.id},#{entity.name},#{entity.age})
    </insert>
    <update id="updateUserById">
        update user set age = age -1 where name = 'dhb' and age > 0
    </update>
    <select id="getUser" resultType="com.example.mybatis.demomybatis.entity.UserEntity">
        select * from user where id = 1;
    </select>
</mapper>
